@import "tailwindcss";

@font-face {
  font-family: "firaGO";
  src: url("./assets/fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka One";
  src: url("./assets/fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "firaGO", sans-serif;
  overflow: hidden;
}

.font-fredoka {
  font-family: "Fredoka One", cursive;
}
